
{% extends 'base.html' %}

{% block content %}

<div class="row">
{% for i in data %}
<div class="col-4">
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"> {{ i.title }} </div>
  <div class="card-body text-success">
    <h5 class="card-title"></h5>
    <p class="card-text">{{ i.content }}</p>
  </div>
  <div class="card-footer bg-transparent border-success"><a href="{{ i.file_name.url }}" download>  Download </a> </div>
</div>
</div>
{% endfor %}
</div>




<script type="text/javascript">
	$('#formFile').change(function(){

		var filename = $('#formFile').val();
		console.log(filename)
		 $.ajax({

		 	url:'/validate_files/',
		 	data :{
		 		"filename" : filename
		 	},
		 	dataType: 'json',
		 	success:function(data){
		 	
		 		if (data.message == 'invalid'){
		 			$('#message').html('invalid Type Please select pdf or excel .').css('color', 'red');
		 			$("#submit-f").attr("disabled", "disabled");
		 		}
		 		if (data.message == 'valid'){
		 			$("#submit-f").removeAttr("disabled");
            		  $('#message').html('Valid type').css('color', 'green');
		 		}
		 	}
		 })



	}) ;
// $(document).ready(function() {
     // $.ajax({
     //    url: '/u_files/1/',
     //    data: {
     //      'idx': 1
     //    },
     //    dataType: 'json',
     //    success: function (data) {
     //      var i = 0 
     //      for (i =0 ; i < data.data.length ; i++){
     //      	console.log(data.data[i])
     //      }

        
     //    }
     //  });




// function getCookie(name) {
//     let cookieValue = null;
//     if (document.cookie && document.cookie !== '') {
//         const cookies = document.cookie.split(';');
//         for (let i = 0; i < cookies.length; i++) {
//             const cookie = cookies[i].trim();
//             // Does this cookie string begin with the name we want?
//             if (cookie.substring(0, name.length + 1) === (name + '=')) {
//                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
//                 break;
//             }
//         }
//     }
//     return cookieValue;
// }
// const csrftoken = getCookie('csrftoken');



  //    $("#submit-f").click(function(event){
 	//  event.preventDefault();
 	//  // console.log($('#formFile')[0].files)
 	//    var files = $('#formFile')[0];
 	//    console.log(files)
 	//    var fl = new FormData() 
 	//    fl.append =(('file',files))
 	//   $.ajax({
 	//   	type:'POST',
 	//   	url:"/create_file/" ,
 	  	
 	//   	 	  	headers: {'X-CSRFToken': csrftoken},
 	//   	data:{
 	//   		"tiltle":$('#title').val() ,
 	//   		"content":$('#content').val() ,
 	//   		fileInputs: fl ,

 	//   		// "formFile": files,
 	//   		},
  // 		dataType:'iframe json',
	 //    cache: false,
  // 		contentType: false,
		// processData: false,
 	//   	success:function(d){
 	//   		console.log("work")
 	//   	}


 	//   })

		// 			});
// });

	
</script>

{% endblock %}
